@CHARSET "UTF-8";
*{margin:0 auto;}
body{
	font-size:9pt;
	text-align:center;
}
table{
	font-size:9pt;
	text-align:center;
	border:1px solid black;
}

select{font-size:9px;}

form{font-size:9px;}
p{font-weight:700;}